@import "./reset.css";
@import "./variables";

body {
  font-family: var(--font-signika);
}

h1 {
  font-size: 64px;
  font-style: italic;
  font-family: var(--font-judson);
}

p {
  color: $white;
  font-size: 18px;
}

button {
  cursor: pointer;
}
